html {
  max-height: 100vh;
 
}

body {
  background: #000;
  position: relative;
  margin: 0 auto;
  display: block;
  -webkit-text-size-adjust: none;
  font: 17px 'Nunito', sans-serif;
  color:#222;
  line-height:0px;
}

#deskImageDiv {
  width: 100%;
  min-height: 100%;
	min-width: 171.3vh;
  position: relative;
  display: block;
  margin: 0px auto;
  text-align:center;
  line-height:0px;
}

#deskImage {
  width:100%;
  z-index:-1;
  opacity:1;
  vertical-align: top;
  -webkit-transition: opacity 250ms ease-in;
  -moz-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.modal {
  position:absolute;
  width:100%;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 13;
  opacity: 0;
  background:url(images/newDeskImageBlur.jpg);
  background-size:cover;
  -webkit-transition: opacity 250ms ease-in;
  -moz-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
  pointer-events: none;
}

.modalClose {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 14;
  background: rgba(255,255,255,0);
  cursor: default;
}

.modalOuter {
  position: fixed;
  min-height:100vh;
  max-height:100vh;
  width: 80vw;
  max-width:700px;
  min-width:350px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index:15;
  background: rgba(255,255,255,0.7);
  border-radius:0px;
  overflow-y:scroll;
  overflow-x:hidden;
}

.modalInner {
  background: url(images/logo.png) center top no-repeat;
  background-size: 80px;
  margin-top:5%;
  padding: 15% 10% 10% 10%;
  border: 0px black;
  z-index:16;
  text-align:left;
  line-height:20px;
  font-size:16px;
  color:#333;
  text-align:justify;
}

.modalInner a, .modalInner a:active, .modalInner a:visited, .modalInner a:hover {
  
  color:#777;
  text-decoration:none;
  border-bottom:px solid #ccc;
  
}

h2 {
  
  padding-bottom:13px;
  
}

.iframeDiv {
  position:relative;
  width:100%;
  padding-bottom:56.25%;
  margin: 20px 0px 20px 0px;
}

iframe {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  height:100%; 
}

.instagram-media {
  
  margin: 40px 0px 40px 0px!important
  
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}


.close {
  font-family:sans-serif;
  font-size:30px;
  background: #aaa;
  color: #fff;
  line-height: 80px;
  position: absolute;
  right: -32px;
  text-align: center;
  top: -23px;
  width: 80px;
  height:60px;
  text-decoration: none;
  font-weight: regular;
  border-radius:0;
  transform:rotate(45deg);
  opacity:0.7;
}

.close:hover {
  background: #333;
}

.links {
  position:fixed;
  width:45px;
  padding-bottom:45px;
  opacity:0.3;
  background-size:contain!important;
  cursor: pointer;
  -webkit-transition: opacity 250ms ease-in;
  -moz-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.links:hover {
  opacity:0.8;
}

#audio {
  top:5px;
  left:5px;
  background:url('images/ambience.png') center center no-repeat;
}

#codeCampLink {
  top:5px;
  right:45px;
  background:url('images/codeCamp.png') center center no-repeat;
}

#codewarsLink {
  top:5px;
  right:5px;
  background:url('images/codewars.png') center center no-repeat;
}

@media (pointer:coarse) {
  
  #audio:hover {
    
    opacity:0.3;
    
  }
  
}

#pianoOverlay {
  position:absolute;
  width:35.2%;
  padding-bottom:7%;
  top:67.4%;
  left:34%;
  z-index:0;
  opacity:0;
  background: url('images/pianoLight.jpg') center center no-repeat;
  background-size:cover;
  box-shadow: 0 0 15px 15px rgba(255,255,255,0.1);
   -webkit-transition: opacity 250ms ease-in;
  -moz-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

@media (pointer:coarse) {
  
  #pianoOverlay {
    opacity:1;
    background: url('images/piano.jpg') center center no-repeat;
    background-size:cover;
     box-shadow: 0 0 5px 5px rgba(255,255,255,0);
  }
  
}

#pianoOverlay:hover {
  
  opacity:0.9;
  
}

#screen {
  position:absolute;
  width: 13.3%;
  height: 13.5%;
  left: 44.05%;
  top: 50.5%;
  transition:0s 180s;
  background:url(images/screen.gif) center center no-repeat;
  background-size:contain;
  opacity:0.8;
  cursor:pointer;
   -webkit-transition: opacity 250ms ease-in,background-color 250ms ease-in,box-shadow 500ms ease-in;
  -moz-transition: opacity 250ms ease-in,background-color 250ms ease-in,box-shadow 500ms ease-in;
  transition: opacity 250ms ease-in,background-color 250ms ease-in,box-shadow 250ms ease-in;
  box-shadow: 0 0 15px 15px rgba(255,255,255,0.0);
}

#screensaverContainer {
  background:#333;
  position:absolute;
  width: 13.16%;
  height: 12.39%;
  left: 44.03%;
  top: 51.05%;
  z-index:3;
  display:none;
}

#screensaver {
  width:100%;
  height:100%;
  z-index:4;
  opacity:0.8;
  background:url(images/afterDark.gif) center center no-repeat;
  background-size:cover;
  display:block;
}

#screen:hover {
    box-shadow: 0 0 15px 15px rgba(255,255,255,0.1);
    opacity:1;
  
}

.popUpTrigger {
  position: absolute;
  border-radius:30px;
  z-index: 3;
  cursor:pointer;
  background-color: rgba(255,255,255,0.0);
  box-shadow: 0 0 15px 15px rgba(255,255,255,0.0);
  -webkit-transition: background-color 250ms ease-in,box-shadow 250ms ease-in;
  -moz-transition: background-color 250ms ease-in,box-shadow 250ms ease-in;
  transition: background-color 250ms ease-in,box-shadow 250ms ease-in;
}
.popUpTrigger:hover{
  background-color: rgba(255,255,255,0.1);
  box-shadow: 0 0 15px 15px rgba(255,255,255,0.1);
}

#turntableTrigger {
  width: 12%;
  height: 5%;
  left: 21%;
  top: 64%;
}

#vinylTrigger {
  width: 19%;
  height: 12%;
  left: 17%;
  top: 86%;
}

#guitarTrigger {
  width: 9%;
  height: 40%;
  left: 25%;
  top: 12%;
}

/*
#lynxTrigger {
  width: 2.3%;
  height: 5.6%;
  left: 35.5%;
  top: 15%;
}

#catTrigger {
  width: 2.3%;
  height: 6.7%;
  left: 35.5%;
  top: 25%;
}
*/

/*
#lizzyTrigger {
  width: 2.7%;
  height: 6%;
  left: 35.5%;
  top: 48.8%;
}
*/

#birdsTrigger {
  width: 3%;
  height: 5%;
  left: 49%;
  top: 34%;
}

/*
#ticketsTrigger {
  width: 3.4%;
  height: 8%;
  left: 63%;
  top: 46%;
}
*/

#oxfordTrigger {
  width: 2.5%;
  height: 6.2%;
  left: 63.5%;
  top: 32.5%;
}

/*
#cuddlyLynxTrigger {
  width: 3%;
  height: 8%;
  left: 78%;
  top: 11%;
}
*/

#physicsTrigger {
  width: 10%;
  height: 12.5%;
  left: 66%;
  top: 15%;
}

#pentaxTrigger {
  width: 5%;
  height: 7%;
  left: 78.5%;
  top: 38%;
}

#autocordTrigger {
  width: 5%;
  height: 7%;
  left: 65.5%;
  top: 37.5%;
}

/*
#cactusTrigger {
  width: 10%;
  height: 8%;
  left: 75%;
  top: 61.5%;
}
*/

#scannerTrigger {
  width: 8%;
  height: 8%;
  left: 67%;
  top: 80%;
}

#ampTrigger {
  width: 8%;
  height: 8%;
  left: 80%;
  top: 90%;
}


