html {
    margin: 0;
    padding: 0;
    font-size: clamp(0px, 0.8vh, 25px);
    transition: font-size 5s;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: white;
    background: url(images/bg1.jpg) center no-repeat;
    background-color: #eeeeee;
    background-size: 156rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-image 0.5s;
}

a {
    color: white;
}

p {
    font-size: smaller;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-top: 0.7rem;
}



#wrapper {
    height: 45rem;
    width: calc(45rem/1.6);
    position: relative;
    background: white;
    // border:1px solid red;

}

#clock {
    background: url("images/screensaver.png") center;
    background-size: cover;
    z-index: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

#screensaver {
    background: url("images/screensaver.png") center;
    background-size: cover;
    background-color:#333;
    z-index: 5;
    height: 100%;
    width: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s;
}

#screen {
    pointer-events: none;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom,
            #fff,
            #fff 50%,
            #ddd 50%,
            #ddd);
    background-size: 100% 0.2rem;
    opacity: 0.5;
    mix-blend-mode: normal;
    overflow: hidden;
    filter: blur(0.005rem);
}

#banding {
    z-index: 2;
    pointer-events: none;
    # border: 1px solid red;
    height: 45%;
    background: #bbb;
    opacity: 1;
    mix-blend-mode: multiply;
    animation: banding 20s linear infinite;
}

#green {
    pointer-events: none;
    z-index: 2;
    background: #00402d;
    mix-blend-mode: screen;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}



#contents {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: wiggle 0.2s linear infinite;
    filter: blur(0.025rem);
}

#logo {
    height: 10%;
    width: 100%;
    position: absolute;
    top: 5.3%;
    left: 50%;
    transform: translate(-50%);
    background: url(images/TMlogoNew.png) center no-repeat;
    background-size: contain;
    opacity: 0.9;

}


#timePeriodBox {
    top: 19%;
    height: 17%;
}

#artefactsBox {
    top: 39%;
    height: 38%;
    
}

#infoBox {
    top: 19%;
    height: 71%;
    display: none;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 75%;
    background: #333;
    left: 50%;
    transform: translate(-50%);
    border-radius: 1.5rem;
    box-shadow: 0px 0px 0.075rem 0.075rem #333;
    opacity: 90%;
}

.boxinner {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.boxText {
    padding-top: 0.7rem;
    //border:1px solid green;
}

.boxContents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding-bottom: 0.7rem;
}

.arrow {
    background: url('images/right.png') center no-repeat;
    background-size:contain;
    height:100%;
    width:1.75rem;
    z-index:2;
    //border:1px solid red;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    opacity:0.5;
}

#timeLeftArrow,
#artefactLeftArrow {
    display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}


#timePeriod {
    text-align: center;
    //border:1px solid red;
    font-weight: bold;
    font-size: 1.4rem;
    width: 80%;
}



#artefact {
    width: 80%;
    height: 100%;
}

model-viewer {
    z-index: 1;
    display: flex;
    width: 21.3rem;
    height: 17.3rem;
    border-radius:1.5rem;
    margin-top:0.3rem;
    
}

.artefactImg {
    width: 100%;
    text-align: center;
    //border:1px solid red;
}


#start {
    top: 80%;
    height: 10%;
    text-align: center;
    line-height: 4.5rem;
    font-weight: bold;
    font-size: 1.25rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

}

#footer {
    position: absolute;
    width: 92%;
    left: 50%;
    transform: translate(-50%);
    top: 91%;
    height: 8%;
    //border:1px solid red;
}

#info {
    height: 100%;
    width: 8%;
    position: absolute;
    left: 0%;
    background: url('images/info.png') center no-repeat;
    background-size: contain;
    opacity: 90%;
    //border:1px solid green;
    cursor: pointer;
}

#close {
    display: none;
    height: 100%;
    width: 8%;
    position: absolute;
    left: 0%;
    background: url('images/close.png') center no-repeat;
    background-size: contain;
    opacity: 90%;
    //border:1px solid green;
    cursor: pointer;
}

#LSTMlogo {
    height: 100%;
    width: 25%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: url(images/lstmlogo.png) center no-repeat;
    background-size: contain;
    opacity: 90%;
    //border:1px solid green;
}

#heritage {
    height: 100%;
    width: 8%;
    position: absolute;
    left: 92%;
    background: url(images/heritagelogo.png) center no-repeat;
    background-size: contain;
    opacity: 90%;
    //border:1px solid green;
}

#player {
    display:none;
    
    height: 100%;
    width: 100%;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    
}

#controls {
    display:none;
    opacity:100%;
    z-index: 4;
    width:100%;
    height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.1);
    transition: opacity 4s;
}

#playPause {
    display:none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-align: center;
    font-size: 7rem;
    width: 100%;
    height: 50%;
    padding-top: 30%;
    //border:1px solid red;
    border-radius: 50%;
}

#reset {
    z-index: 4;
    font-size:2rem;
    font-weight:bolder;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    //border:1px solid green;
}

#default-progress-bar {
    opacity:0;
}

#button-load {
    border:1px red solid;
    display:flex;
    justify-content: center;
    align-items: center;
}

@keyframes banding {
    0% {
        transform: translateY(400%);
    }

    100% {
        transform: translateY(-400%);
    }
}

@keyframes wiggle {
    0% {
        transform: translateX(0) skewX(0deg);
    }

    25% {
        transform: translateX(0.005rem) skewX(0.02deg);
    }

    50% {
        transform: translateX(-0.01rem) skewX(0deg);
    }

    75% {
        transform: translateX(0.015rem) skewX(-0.02deg);
    }

    100% {
        transform: translateX(0) skewX(0deg);
    }
}
